.heading-container {
  border-radius: 5px;
  background-color: rgba(0, 209, 178, 0.1);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
.heading-title {
  padding: 20px 0;
}
.custom_control {
  background-color: #00d1b2;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  text-transform: none;
}
.custom_control:hover {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}
.custom_arrow {
  top: 17px;
}
